body {
  background-color: rgb(55, 0, 60);
}

.player {
  width: 80px;
  background-color: rgb(55, 0, 60);
  height: 55px;
  border-radius: 2px;
  font-size: 1.5em;
  color: white;
  margin: 12px;
}

.player.scorer {
  border: #00ff87 solid 2px;
}

.player.assist {
  border: rgb(200, 0, 218) solid 2px;
}

.player.front {
  z-index: 1001;
}

.ui.modal>.purple {
  background-color: rgb(55, 0, 60);
  color: white;
  border-color: rgb(96, 1, 105);
}

.ui.green.button {
  color: black;
}

.ui.table thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.stat-table-container {
  max-height: 215px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.ui.sortable.table thead th.sorted, .ui.sortable.table thead th.sorted:hover {
  background-color: #ececec;
}


