<h1 style="margin-top: calc(2rem - 0.142857em);" class="ui centered inverted header">{{title}}</h1>
<div class="ui segment">
    <p>Welcome to {{title}}!</p>
    <p>The top goalscorers are:</p>
    <div class="stat-table-container">
        <table class="ui sortable unstackable celled table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="number">Goals</th>
                    <th class="number">Games</th>
                    <th class="number sorted descending">Goals/Game</th>
                </tr>
            </thead>
            <tbody>
                {{#each goals}}
                    <tr>
                        <td data-label="Name">{{this.name}}</td>
                        <td data-label="Goals">{{this.goals}}</td>
                        <td data-label="Games">{{this.games_played}}</td>
                        <td data-label="Goals/Game">{{this.goals_per_game}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <p>The top assistants are:</p>
    <div class="stat-table-container">
        <table class="ui sortable unstackable celled table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="number">Assists</th>
                    <th class="number">Games</th>
                    <th class="number sorted descending">Assists/Game</th>
                </tr>
            </thead>
            <tbody>
                {{#each assists}}
                    <tr>
                        <td data-label="Name">{{this.name}}</td>
                        <td data-label="Assists">{{this.assists}}</td>
                        <td data-label="Games">{{this.games_played}}</td>
                        <td data-label="Assists/Game">{{this.assists_per_game}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div style="text-align: center; margin-bottom: calc(2rem - 0.142857em);">
    <button class="ui green button" onClick="location.href='new-match';">
        Start new match
    </button>
</div>

<script>

$( document ).ready(function() {
    $('table').tablesort();
    $('thead th.number').data('sortBy', function(th, td, tablesort) {
        return Number(td.text());
    });
});

</script>