<div class="ui dimmer processing">
    <div class="ui text loader">Sending Goal</div>
</div>
<div style="display:flex;flex-direction:row;align-items:center;justify-content:space-evenly;height: 10%;" onClick="manageModal()">
    <h1 id="score-1" class="ui inverted header" style="margin:0">{{score_one}}</h1>
    <h1 class="ui inverted header" style="margin:0">{{title}}</h1>
    <h1 id="score-2" class="ui inverted header" style="margin:0">{{score_two}}</h1>
</div>
<div id="pitch" style="background-image: url('images/Football_field.svg');height: 80%;margin: auto;background-size: contain;background-repeat: no-repeat;background-position: center;">
    <div id="goal-dimmer" class="ui dimmer">
        <div style="display:none" id="scorer-message" class="content">
            <h2 class="ui inverted header">
                Tap goalscorer
            </h2>
        </div>
        <div style="display:none" id="assist-message" class="content">
            <h2 class="ui inverted header">
                Tap assistant
            </h2>
            <button class="ui green button" style="color:black" onClick="skip()">
                Skip
            </button>
        </div>
        <div style="display:none" id="keeper-message" class="content">
            <h2 class="ui inverted header">
                Tap keeper
            </h2>
            <button class="ui green button" style="color:black" onClick="skip()">
                Skip
            </button>
        </div>
    </div>
    <div style="height:50%; display:flex; align-items:center; justify-content:space-evenly;flex-wrap: wrap;">
        {{#each team_one}}
            <div class="player" id="player-{{this.id}}" onClick="clickPlayer({{this.id}},1)">
                <div style="height:50%;display: flex;align-items: center;justify-content:center;"><div style="padding-bottom: 2px;">{{this.name}}</div></div>
                <div style="height:50%;display: flex;flex-direction:row;align-items: center;">
                    <div style="width:50%;background-color: #00ff87;height: 100%;display: flex;align-items: center;justify-content:center; color:black">
                        <div class="goal">{{this.goals}}</div>
                    </div>
                    <div style="width:50%;background-color: rgb(93, 0, 101);height: 100%;display: flex;align-items: center;justify-content:center">
                        <div class="assist">{{this.assists}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div style="height:50%; display:flex; align-items:center; justify-content:space-evenly;flex-wrap: wrap;">
        {{#each team_two}}
            <div class="player" id="player-{{this.id}}" onClick="clickPlayer({{this.id}},2)">
                <div style="height:50%;display: flex;align-items: center;justify-content:center;"><div style="padding-bottom: 2px;">{{this.name}}</div></div>
                <div style="height:50%;display: flex;flex-direction:row;align-items: center;">
                    <div style="width:50%;background-color: #00ff87;height: 100%;display: flex;align-items: center;justify-content:center; color:black">
                        <div class="goal">{{this.goals}}</div>
                    </div>
                    <div style="width:50%;background-color: rgb(93, 0, 101);height: 100%;display: flex;align-items: center;justify-content:center">
                        <div class="assist">{{this.assists}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div style="display:flex;align-items:center;justify-content:center;height: 10%;">
    <button class="ui green button" style="margin-right:10px;" onClick="recordGoal(1)">
        Team One Goal
    </button>
    <button class="ui green button" style="margin-right:10px;" onClick="recordGoal(2)">
        Team Two Goal
    </button>
</div>

<div class="ui modal">
  <div class="header purple">Match Options</div>
  <div class="actions purple">
    <div class="ui green button" onClick="endMatch()">End Match</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

<script>

var stage = "none";
var scorer = null;
var assist = null;
var keeper = null;
var own_goal = null;
var scoring_team = null;
var match_id = {{match_id}};
var saved_goal = null;

const url = `ws://${window.location.hostname}:${window.location.port}/`;
var connection = null;

$(function() {
  openWS();
  if ($(window).height()*0.5283 < $(window).width()) {
      $('#pitch').css('width','52.83vh');
  }
});

var openWS = function () {

    connection = new WebSocket(url);

    connection.onopen = function() {
        console.log("Connection Open");
        if (saved_goal !== null) {
            console.log("Sending saved goal");
            connection.send(JSON.stringify(saved_goal));
        }
    }

    connection.onmessage = function(event) {
        console.log(event.data);
        var dataObject;
        try {

            dataObject = JSON.parse(event.data);

        } catch(e) {

            console.log("can't read JSON",e);

        }
        if (dataObject && dataObject.goal) {
            saved_goal = null;
            $('.ui.dimmer.processing').removeClass('active');
            updateScores(dataObject.goal);
        } else if (dataObject && dataObject.error) {
            if (dataObject.error.code === 'no-match') {
                window.location.replace("/");
            }
        } else if (dataObject && dataObject.broadcast) {
            if (dataObject.broadcast.code === 'end-match') {
                window.location.replace("/");
            }
        }
        
    };

    connection.onclose = function() {
        setTimeout(function(){openWS()}, 5000);
    }
}

var recordGoal = function (team) {
    $('#scorer-message').show();
    $('#goal-dimmer').addClass('active');
    $('.player').addClass('front');
    stage = "goal";
    scoring_team = team;
}

var clickPlayer = function (player,team) {
    if (stage == "goal") {
        if (scoring_team !== team) {
            own_goal = player;
            stage = "keeper";
            $('#scorer-message').hide();
            $('#keeper-message').show();
        } else {
            scorer = player;
            stage = "assist";
            $('#scorer-message').hide();
            $('#assist-message').show();
        }
        $('#player-'+player).addClass('scorer');
    } else if (stage == "assist") {
        if (scoring_team !== team) return;
        $('#player-'+player).addClass('assist');
        $('#assist-message').hide();
        $('#keeper-message').show();
        assist = player;
        stage = "keeper";
    } else if (stage == "keeper") {
        if (scoring_team !== team) return;
        keeper = player;
        stage = "none";
        $('#goal-dimmer').removeClass('active');
        $('#keeper-message').hide();
        completeGoal();
    }
}

var skip = function () {
    if (stage == "assist") {
        $('#assist-message').hide();
        $('#keeper-message').show();
        stage = "keeper";
    } else if (stage == "keeper") {
        stage = "none";
        $('#goal-dimmer').removeClass('active');
        $('#keeper-message').hide();
        completeGoal();
    }
}

var completeGoal = function () {
    sendGoal();
    removeSelected();
    $('.player').removeClass('front');
}

var removeSelected = function () {
    $('.player.scorer').removeClass('scorer');
    $('.player.assist').removeClass('assist');
    scorer = null;
    assist = null;
    keeper = null;
    scoring_team = null;
    own_goal = null;
}

var sendGoal = function () {
    let goal = {
        goal: {
            scorer: scorer,
            assist: assist,
            keeper: keeper,
            own_goal: own_goal,
            match: match_id,
            team: scoring_team,
        }
    }
    $('.ui.dimmer.processing').addClass('active');
    if (connection.readyState === connection.OPEN) {
        connection.send(JSON.stringify(goal));
    } else {
        saved_goal = goal;
    }
    
}

var updateScores = function (goal) {
    if (goal.scorer) {
        $($('#player-'+goal.scorer).find('.goal')[0]).html(Number($($('#player-'+goal.scorer).find('.goal')[0]).html())+1)
    }
    if (goal.assist) {
        $($('#player-'+goal.assist).find('.assist')[0]).html(Number($($('#player-'+goal.assist).find('.assist')[0]).html())+1)
    }
    $('#score-'+goal.team).html(Number($('#score-'+goal.team).html())+1)
}

var endMatch = function () {
    $.get( `end-match?id=${match_id}`, function( data ) {
        connection.send(JSON.stringify({
            broadcast: {
                code: "end-match"
            }
        }));
        window.location.replace("/");
    })
    .fail(function() {
        alert("Failed to end match");
    })
}

var manageModal = function () {
    $('.ui.modal')
        .modal('show')
    ;
}

</script>