<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
<h1 class="ui centered inverted header">{{title}}</h1>
<div class="ui segment">
    <p>Select your teams below:</p>
    <div class="ui form">
        <div class="field">
            <label>Team One</label>
            <select multiple="" class="ui fluid multiple search selection dropdown" name="team_one">
            </select>
        </div>
        <div class="field">
            <label>Team Two</label>
            <select multiple="" class="ui fluid multiple search selection dropdown" name="team_two">
            </select>
        </div>
    </div>
</div>

<div style="text-align: center">
    <button class="ui green button" onclick="startMatch()">
        Start match
    </button>
</div>

<script>

players = {{{playersJSON}}};
team_one = [];
team_two = [];

$('[name="team_one"]')
    .dropdown({
        values: players,
        allowAdditions: true,
        onAdd: function(addedValue, addedText, $addedChoice) {
            team_one.push({'id': addedValue === addedText ? null : addedValue,'name': addedText});
        },
        onRemove: function(removedValue, removedText, $removedChoice) {
            if (!removedText) {
                team_one = team_one.filter(function(player, index, arr){
                    return player.name !== removedValue;
                });
            } else {
                team_one = team_one.filter(function(player, index, arr){
                    return player.name !== removedText;
                });
            }
        }
    })
;
$('[name="team_two"]')
    .dropdown({
        values: players,
        allowAdditions: true,
        onAdd: function(addedValue, addedText, $addedChoice) {
            team_two.push({'id': addedValue === addedText ? null : addedValue,'name': addedText});
        },
        onRemove: function(removedValue, removedText, $removedChoice) {
            if (!removedText) {
                team_one = team_one.filter(function(player, index, arr){
                    return player.name !== removedValue;
                });
            } else {
                team_one = team_one.filter(function(player, index, arr){
                    return player.name !== removedText;
                });
            }
        }
    })
;

var startMatch = function() {
    if (team_one.length !== team_two.length) {
        alert("The teams are not equal");
        return;
    } else if (!team_one.length || !team_two.length) {
        alert("Please select players for the teams");
        return;
    }
    var duplicate_players = false;
    $.each(team_one, function( one_index, one_name ) {
        $.each(team_two, function( two_index, two_name ) {
            if (one_name == two_name) {
                duplicate_players = true;
                return;
            }
        });
    });
    if (duplicate_players) {
        alert("The same player appears in both teams");
    } else {
        request_data = {
            team_one: team_one,
            team_two: team_two
        }
        $.ajax({
            type: 'POST',
            url: '/create-new-match',
            data: JSON.stringify(request_data),
            contentType: "application/json"
        })
        .done(function() {
            window.location.replace("/live-match");
        })
        .fail(function() {
            alert("Failed to start match");
        })
    }
}

</script>